<div class="container">
    <div class="d-flex justify-content-between">
      <h4><a routerLink="/managerLogin"><img src="https://cdn1.iconfinder.com/data/icons/user-interface-outline-7/512/ui_ux_left_back_return-64.png"></a> Open account</h4>
    </div>
    <hr>
    <form [formGroup]="accountForm">
      <div class="row">
      <div class="form-group col-12">
        <mat-form-field class="w-100">
            <mat-label>Choose client</mat-label>
              <mat-select formControlName="client">
                  <mat-option *ngFor="let client of clients" [value]="client">
                    {{client.firstName}} {{client.lastName}} - CNP {{client.cnp}} - {{client.poB}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="accountForm.get('client').hasError('required') && accountForm.get('client').touched ">
                    Please choose a client
                  </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input type="text" maxlength=11  matInput formControlName="accountName" placeholder="Account name" [ngClass]="{'is-invalid': accountForm.get('accountName').errors && accountForm.get('accountName').touched}">
              <mat-error *ngIf="accountForm.get('accountName').hasError('required') && accountForm.get('accountName').touched ">
                  Write an account name
                </mat-error>
                <mat-error *ngIf="accountForm.get('accountName').errors?.pattern && accountForm.get('accountName').touched ">
                  Write a valid account name
                </mat-error>
            </mat-form-field>
          <mat-form-field class="w-100">
            <mat-select [(ngModel)]="selectedValue" formControlName="currencyName" placeholder="Currency">
              <mat-option value="EURO">EURO</mat-option>
              <mat-option value="POUNDS">POUNDS</mat-option>
              </mat-select>
              <mat-error *ngIf="accountForm.get('currencyName').hasError('required') && accountForm.get('currencyName').touched ">
                  Please select a currency type
                </mat-error>
            </mat-form-field>
          <mat-form-field class="w-100">
            <input type="password" numbersOnly maxlength=4 matInput formControlName="pinCode" placeholder="PIN"  [ngClass]="{'is-invalid': accountForm.get('pinCode').errors && accountForm.get('pinCode').touched}">
              <mat-error *ngIf="accountForm.get('pinCode').hasError('required') && accountForm.get('pinCode').touched ">
                  Enter a PIN
                </mat-error>
                <mat-error *ngIf="(accountForm.get('pinCode').hasError('minlength') || accountForm.get('pinCode').hasError('maxlength')) || accountForm.get('pinCode').errors?.pattern">
                    Enter a valid PIN
                  </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <input type="text" maxlength=24 matInput formControlName="iban" placeholder="IBAN"  [ngClass]="{'is-invalid': accountForm.get('iban').errors && accountForm.get('iban').touched}">
                  <mat-error *ngIf="accountForm.get('iban').hasError('required') && accountForm.get('iban').touched ">
                      Enter an IBAN
                    </mat-error>
                    <mat-error *ngIf="(accountForm.get('iban').hasError('minlength') || accountForm.get('iban').hasError('maxlength')) || accountForm.get('iban').errors?.pattern">
                        Enter a valid IBAN
                      </mat-error>
                      <button style="padding: 0.5px; margin-top: 10px; background-color: #9ea19d;" class="btn btn-primary" (click)="generateIBAN()" >Auto-generate</button>
                </mat-form-field>
                
          </div>
      </div>
      <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="accountForm.invalid">Add</button>
    </form>
  </div>
